<nav>
  <div class="nav nav-tabs mt-3 container" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-home-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-listAll"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
    >
      Todas Tarefas
    </button>
    <button
      class="nav-link"
      id="nav-profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-progress"
      type="button"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
    >
      Tarefas em andamento
    </button>
    <button
      class="nav-link"
      id="nav-contact-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-notstarted"
      type="button"
      role="tab"
      aria-controls="nav-notstarted"
      aria-selected="false"
    >
      Tarefas não iniciadas
    </button>
    <button
      class="nav-link"
      id="nav-disabled-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-completed"
      type="button"
      role="tab"
      aria-controls="nav-disabled"
      aria-selected="false"
    >
      Tarefas concluídas
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-listAll"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
    tabindex="0"
  >
    <app-task-card [tasks]="tasks"> </app-task-card>
  </div>
  <div
    class="tab-pane fade"
    id="nav-progress"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
    tabindex="0"
  >
    <app-task-card [tasks]="tasksProgress"> </app-task-card>
  </div>
  <div
    class="tab-pane fade"
    id="nav-notstarted"
    role="tabpanel"
    aria-labelledby="nav-contact-tab"
    tabindex="0"
  >
    <app-task-card [tasks]="tasksNotStarted"> </app-task-card>
  </div>
  <div
    class="tab-pane fade"
    id="nav-completed"
    role="tabpanel"
    aria-labelledby="nav-contact-tab"
    tabindex="0"
  >
    <app-task-card [tasks]="tasksCompleted"> </app-task-card>
  </div>
</div>
