<!-- Modal -->
<app-modal-delete
  (confirmDeleteEvent)="onDelete($event)"
  [taskSelecionada]="taskSelecionada"
></app-modal-delete>

<div
    class="alert alert-info alert-dismissible fade show mt-3 container"
    *ngIf="mensagem"
    role="alert"
  >
    {{ mensagem }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

<table class="table table-striped container table-danger">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data de criação</th>
      <th scope="col">Finalizar em</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let task of tasks
          | paginate
            : {
                itemsPerPage: pageSize,
                currentPage: paginaAtual
              }
      "
    >
      <td>
        {{ task.title }}
        <br />
          <span
            ngClass="badge rounded-pill"
            style="color: aliceblue; padding: 3px; border-radius: 3px; font-size: 12px;"
            [ngClass]="{
              'bg-primary': task.status === 'ANDAMENTO',
              'bg-danger': task.status === 'NAOINICIADA',
              'bg-success': task.status === 'CONCLUIDA'
            }"
          >
            {{ formatarStringStatus(task.status) }}
          </span>
      </td>
      <td>{{ task.description }}</td>
      <td>{{ task.createdAt| date: "dd/MM/yyyy" }}</td>
      <td>{{ task.deadLine | date: "dd/MM/yyyy" }}</td>
      <td>
        <button
          class="btn btn-danger m-1"
          (click)="preparaDelecao(task)"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa fa-trash"></i>
        </button>

        <button
          class="btn btn-primary"
          (click)="onEdit(task.id)"
        >
          <i class="fa fa-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center cor-texto">
  <pagination-controls
    (pageChange)="paginaAtual = $event"
    previousLabel="Voltar"
    nextLabel="Próximo"
  >
  </pagination-controls>
</div>
