/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1976D2;
  --body: #fff;
  --text-menu: #fff;
  --text-body: #4B4B4B;
}

:root .dark-theme {
  --primary: #0D47A1;
  --body: #4B4B4B;
  --text-menu: #fff;
  --text-body: #fff;
}

body {
  background-color: var(--body);
}

:root .dark-theme label{
  color: antiquewhite;
}

input, select, option, .texto-mensagem {
  color: black;
}

:root .dark-theme table {
  background-color: #ffcaca;
}

:root .dark-theme .cor-texto > span  {
  color: #ff0b23
}
